html {
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #303030;
}

.flex {
  display: flex;
}

.header {
  justify-content: space-evenly;
  align-items: center;
  padding: 1em;
}

.nav-list {
  list-style: none;
}

.nav-list > li {
  padding: 20px;
}

.nav-list > li > a {
  text-decoration: none;
  font-size: 2em;
  font-weight: 600;
  color: #fff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.nav-list > li > a:hover {
  color: rgba(255, 255, 255, 0.7);
}

.main-sector {
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.movie-details {
  width: 25%;
  flex-direction: column;
  align-items: center;
}

.mov-details {
  align-items: center;
  gap: 10px;
}

.movie-img{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.movie-name {
  font-size: 1em;
  color: #fff;
}

.like-btn {
  width: 1.5rem;
  cursor: pointer;
  color: #fff;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.like-btn:hover {
  scale: 1.1;
}

.likes-div {
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
  gap: 5px;
}

.number-likes {
  text-align: right;
  margin: 0 0;
  color: #fff;
}

.comments-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 1em;
  padding: 10px;
}

.comments-btn:hover {
  background: rgb(255, 205, 205);
  color: #303030;
  border-radius: 5px;
}

.comment-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  position: relative;
  padding: 1rem;
}

.close-btn {
  position: absolute;
  right: 1rem;
  border: none;
  background-color: transparent;
}

.close-icon {
  width: 2.5rem;
}

.thumbnail {
  width: 55vw;
  margin: auto;
}

.movie-title {
  font-size: 2.5rem;
}

.details {
  display: grid;
  justify-content: center;
  grid-template-columns: 200% 200%;
  text-align: center;
}

.comments-list {
  list-style: none;
}

.comments-item {
  margin: 1rem 0;
}

.comments-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
