:root {
  --font-color: #c5c4c4;
  --primary-color: #e64d52;
}

html {
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
  color: var(--font-color);
  margin: 0;
  padding: 0;
  background: #303030;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1rem;
  padding: 1em;
  margin-bottom: 8rem;
}

.logo-img {
  height: 2.5rem;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 2rem;
  margin-right: 2rem;
  font-weight: 600;
  font-size: 1.2rem;
}

.nav-link {
  text-decoration: none;
}

.nav-link:visited {
  color: var(--font-color);
}

.nav-item:hover .nav-link {
  color: var(--primary-color);
}

.main-sector {
  display: flex;
  justify-content: center;
  margin: auto;
  gap: 1rem;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.main-sector::-webkit-scrollbar {
  display: none;
}

.previous-btn,
.next-btn {
  position: absolute;
  top: 40%;
  padding: 0 1rem;
  color: var(--font-color);
  font-size: 4rem;
  border: none;
  background-color: transparent;
  outline: none;
}

.previous-btn {
  left: 0;
}

.next-btn {
  right: 0;
}

.previous-btn:hover,
.next-btn:hover {
  color: var(--primary-color);
}

.fa-solid {
  text-shadow:
    -1px 2px 0 #000,
    1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
}

.movie-details {
  height: 23rem;
  width: 12rem;
  display: flex;
  flex-direction: column;
  background-color: rgb(80, 80, 80);
  padding: 0.3rem;
  border-radius: 0.3rem;
}

.mov-details {
  align-items: center;
  gap: 10px;
}

.movie-img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.movie-name {
  flex: 2;
  font-size: 1.2em;
  font-weight: 700;
  margin: 0.5rem 0;
}

.like-btn {
  width: 1.5rem;
  cursor: pointer;
  color: #fff;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.like-btn:hover {
  scale: 1.1;
}

.likes-div {
  display: flex;
  justify-content: space-between;
  gap: 0.3rem;
}

.number-likes {
  text-align: right;
  margin: 0 0;
}

.comments-btn {
  flex: 2;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1em;
  color: var(--font-color);
  text-align: left;
  padding: 0;
}

.comments-btn:hover {
  color: var(--primary-color);
}

.comment-popup {
  display: none;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  position: relative;
  padding: 1rem;
  margin-bottom: 2rem;
  height: 71vh;
}

.close-btn {
  position: absolute;
  right: 1rem;
  border: none;
  background-color: transparent;
}

.close-icon {
  width: 2.5rem;
}

.division {
  display: flex;
  gap: 5rem;
}

.thumbnail {
  height: 70vh;
  margin: auto;
}

.comment-info {
  display: flex;
  flex-direction: column;
}

.movie-title {
  font-size: 2.5rem;
  margin-bottom: 0;
}

.details {
  width: 50vw;
  text-align: left;
  max-height: 8rem;
  overflow-y: scroll;
}

.details::-webkit-scrollbar {
  display: none;
}

.comments-div {
  display: flex;
  gap: 3rem;
}

.show-comments {
  display: flex;
  flex-direction: column;
}

.comments-display {
  font-size: 1.1rem;
}

.comments-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-size: 1.1rem;
  padding: 0;
  margin-top: 0;
  max-height: 16rem;
  overflow-y: scroll;
}

.comments-list::-webkit-scrollbar {
  display: none;
}

.comments-item {
  font-size: 1rem;
  margin: 0.2rem 0;
}

.comments-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.name-input,
.comment-input {
  font-size: 1.1rem;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-family: "Nunito", sans-serif;
  background-color: lightgray;
  outline: none;
}

.comment-input {
  height: 8rem;
}

.addacomment {
  margin-bottom: 0;
}

.form-comment-btn {
  border: 3px solid var(--font-color);
  background-color: transparent;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem;
  color: var(--font-color);
  border-radius: 0.5rem;
}

.form-comment-btn:hover {
  color: var(--primary-color);
  border: 3px solid var(--primary-color);
}

.footer {
  display: flex;
  justify-self: flex-end;
  flex-direction: column;
  bottom: 0;
  margin-top: auto;
}

.upper-footer {
  background-color: var(--primary-color);
  color: #303030;
  font-weight: 800;
  padding: 1rem;
  border-radius: 1rem;
  margin: 0 2rem;
  text-align: center;
}

.lower-footer {
  height: 1rem;
}
